{% extends 'pages/base.html' %}

{% load static %}

{% block content %} 
<!-- <section id="page-title">

    <div class="container clearfix">
        <h1>게시판</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shortcodes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lightbox</li>
        </ol>
    </div>

</section> -->
<!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="title-block" style="margin-top: -2%;">
                <h4>주일예배 메세지</h4>
                <span> Sunday Worship Message</span>
            </div>

            <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <th>번호</th>
                        <th style="width: 50%;">글제목</th>
                        <th>작성자</th>
                        <th style="width: 15%;">작성일</th>
                        <th>조회수</th>
                        <!-- <th>조회수</th> -->
                    </tr>
                </thead>
                <tbody>
                    <!-- for 축약형변수 in 받은 param명 -->
                    {% for board in page_obj %}
                    <tr>
                        <td style="text-align: center;">{{ board.boardno }}</tsd>
                        <td>{{ board.title }}</td>
                        <td style="text-align: center;">{{ board.name }}</td>
                        <td style="text-align: center;">{{ board.created_at }}</td>
                        <td style="text-align: center;">조회수</td>
                        <!-- <td>{{ board.content }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
              </table>

              <script>
                if(document.getElementsByTagName("td")) {
                        
                        const $tds = document.getElementsByTagName("td");
                        for(let i = 1; i < $tds.length; i++) {
                            
                            $tds[i].onmouseenter = function() {
                                this.parentNode.style.backgroundColor = "orangered";
                                this.parentNode.style.cursor = "pointer";
                            }
                            
                            $tds[i].onmouseout = function() {
                                this.parentNode.style.backgroundColor = "white";
                            }
                            
                            $tds[i].onclick = function() {
                                const no = this.parentNode.children[0].innerText;
                                location.href = "/boards/detail?no=" + no + "&update=false";
                            }
                            
                        }
                        
                    }
            </script>

            <button onclick="location.href= '/boards/addmsg/'">쓰 기</button>

             <div id="paging">
                <ul class="pagination justify-content-center" style="margin-top: 2rem;">
                    <!-- 이전페이지 -->
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?&page={{ page_obj.previous_page_number }}">이전</a>
                        <!-- href로 뎁스 설정 -->
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                    {% endif %}
                    <!-- 페이지리스트 -->
                    {% for page_number in page_obj.paginator.page_range %}
                    {% if page_number == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <!-- 다음페이지 -->
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?&page={{ page_obj.next_page_number }}">다음</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- 페이징처리 끝 -->
            
        </div>
    </div>
</section>
{% endblock %}
